name: Lock comments on closed issues

on:
  issues:
    types: [closed]
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  lock_comments:
    runs-on: ubuntu-latest
    
    steps:
    - name: Lock comments on closed issue
      run: |
        echo "Running action to lock comments on closed issues..."
        ISSUE_NUMBER=$(echo "$GITHUB_EVENT_NAME" | cut -d "/" -f2)
        curl -X PATCH \
        -H "Authorization: token $GITHUB_TOKEN" \
        -H "Accept: application/vnd.github+json" \
        -d "{\"state\":\"closed\",\"lock_reason\":\"off-topic\"}" \
        https://api.github.com/repos/$GITHUB_REPOSITORY/issues/$ISSUE_NUMBER
